<?php

$finder = \PhpCsFixer\Finder::create()
    ->name('*.php')
    ->in(__DIR__.'/src')
    ->in(__DIR__.'/tests');

return \PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setFinder($finder)
    ->setRules(
        [
            '@Symfony' => true,
            '@Symfony:risky' => true,
            'array_syntax' => ['syntax' => 'short'],
            'concat_space' => ['spacing' => 'one'],
            'cast_spaces' => ['space' => 'none'],
            'native_function_invocation' => false,
            'no_superfluous_phpdoc_tags' => true,
            'declare_strict_types' => true,
            'encoding' => true,
            'ereg_to_preg' => true,
            'full_opening_tag' => true,
            'function_declaration' => true,
            'function_typehint_space' => true,
        ]
    );
