<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" bootstrap="tests/Bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>src</directory>
    </include>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <text outputFile="php://stdout" showUncoveredFiles="true"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Zigra Test Suite">
      <directory suffix="Test.php">tests/Zigra/</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <php>
    <server name="REQUEST_URI" value=""/>
  </php>
</phpunit>
